---
---

.posts {
    padding: 0px;
    margin-bottom: 50px;

    li {
        display: inline-block;
        min-width: 450px;
        padding: 10px 20px;
        margin: 0px 30px 25px;
    }

    .link {

    }

    .date {

    }
}

// .rss-subscribe {
//     &:before {
//         display: block;
//         height: 50px;
//         content: "";
//     }
// }
