---
---

@import 'bourbon/_bourbon';

* {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100vh;
	font-family: sans-serif;
	overflow-y: scroll; 

	@include background-image(
		radial-gradient(
			ellipse farthest-corner,
			rgba(71, 71, 71, 0.83), 
			rgba(34, 34, 34, 0.77),
			rgba(9, 7, 12, 0.76)
		),
		url(/assets/noise-25-percent.png)
	);
}

header {
	height: 200px;
	background-color: #000;
	border-bottom: 5px solid #555555;
	z-index: 1000;
	box-shadow: 10px 0px 20px #000;
	@include background-image(
		linear-gradient(#414141, #1F1F1F)
	);

	.logo-ribbon {
		display: inline-block;
		vertical-align: top;
	}

	.logo-ribbon {
		display: block;
		margin-top: -80px;
		flex-shrink: 0;
	}

	nav {
		display: flex;
		width: 85%;
		max-width: 1265px;
		margin: 0px auto;
		font-family: Calibri, sans-serif;
		font-size: 30px;
		text-align: center;

		ul {
			display: flex;
			margin-top: 90px;
			flex-grow: 1;
			padding: 0;
		}

		li {
			display: block;
			flex-grow: 1;
			letter-spacing: 3px;
		}

		a, a:visited {
			text-decoration: none;
			color: #ddd;
			text-shadow: 0px 0px 20px #AAA;

			&:hover {
				color: #EEE !important;
				text-shadow: 0px 0px 20px #FFF !important;
			}

			&.break {
				display: inline-block;
				width: 100%;
    			height: 0;
			}
		}
	}
}

.masthead {
	min-height: 300px;
	max-width: 1265px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
	width: 85%;
	margin: 50px auto;
	padding: 0px 30px;
	border-radius: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.65);
}

main {
	color: #f0f0f0;
	width: 85%;
	max-width: 1265px;
	flex: 1;
	margin: 0 auto 0px;

	p {
		font-size: 20px;
	}
}

footer {

}