<header>
  <nav>
    <img src="/assets/logo-ribbon.png" class="logo-ribbon"/>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
      <li><a href="/experiments">Experiments</a></li>
    </ul>
  </nav>
</header>