<footer>
	<div class="container">
		<div class="bio panel">
			<h2>I'm a real person!</h2>
			<p>
				Hi, I'm Steve. I'm a developer at <a href="http://www.surgeforward.com">Surge</a> where I do C# and HTML5. I also teach kids to code with <a href="http://www.operationspark.org">Operation Spark</a>. I also keep my graphic design  and creative coding chops up, which is the main impetus for this site.
			</p>
		</div>
		<div class="contact panel">
			<h2>Say Hi!</h2>
			<p>
				I'm a social dude. You should say things to me on <a href="http://google.com/+StephenPrice_themooserooster">G+</a> and <a href="http://www.twitter.com/@themooserooster">Twitter</a>. Things like "hello!" and "you are a snappy dresser!" and stuff. There is a very good chance I will return the favor.
			</p>
		</div>
		<div class="subscribe panel">
			<h2>I Write Things!</h2>
			<p>
				I'm also opinionated. In case my brilliant content has you on the edge of your seat, clamoring for more I do the <a href="/feed.xml">RSS thing</a>. I will occasionally impress you with shiny things.
			</p>
		</div>
	</div>
	<p class="license">(cc) 2014 Steve Price</p>
</footer>
