<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    <main class="avoid-ribbon">
      {{ content }}
    </main>
    {% include footer.html %}
    </body>
</html>